doctype 5
html
  head
   title About
  body(style="background-color:silver;")
   div(style="border:1px solid white;width:240px;height:130px;padding:4px 4px 4px 4px;")
    p(style="padding-left:20px;margin-bottom:0px;margin-top:40px;") Contact Management Software
    p(style="padding-left:30px;margin-top:0px;") version 1.0