//index-sub.jade
extends layout

block content
 div.maintab
  ul#nav
   li.cur
    strong
     a(href="/agents") Agents
   li
     a(href="/insured") Insured
   li
    a(href="/morg-holder") Morgage Holder
   li
    a(href="/agents") Place holder1
   li 
    a(href="/agents") Place holder2
 