doctype 5
html
  head
    title= title
    meta(http-equiv="Cache-Control",content="no-cache")
    meta(http-equiv="pragma",content="no-cache")
    meta(http-equiv="Expires",content="Mon,25 Jul 2011 11:12:01 GMT")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css')

  body
 div.maintab
   div.home
    h1 Add Links and/or productivity graphs