//work-list.jade
div.quicklinks
 div.links
  h1 Quick Links
  p
   a.ulist(href="#") List users
  p
   a.anewuser(href="#") Add New user
  p
   a(href="javascript:window.open('/user-upload','users','scrollbars=1,width=600,height=400');void(0);") 
    | Import Users/Security
  p
   a(href="javascript:window.open('/agent-upload','agents','scrollbars=1,width=600,height=400');void(0);") 
    | Import Agents
  p
   a(href="javascript:window.open('/insured-upload','agents','scrollbars=1,width=600,height=400');void(0);") 
    | Import Insured 
  p
   a(href="javascript:window.open('/morgage-upload','agents','scrollbars=1,width=600,height=400');void(0);") 
    | Import Morgage holders
  p
   a(href="#") System Settings