
#change-password.modal-double-input.modal.hide.fade
    div.modal-header
        h3 Change Password
    div.change-password-modal-body
        form( method="post")#change-password-form.well.span5
            p username
            input(type="text",name="username",id="username-tf").span5.required
            p Please enter old password
            input(type="password", name="oldpass", id="oldpass-tf").span5.required
            p Please enter your new password
            input(type="password", name="newpass", id="newpass-tf").span5.required
            p Please retype your new password
            input(type="password", name="retypepass", id="retypepass-tf").span5.required
            button(type="submit")#submit.btn.btn-primary Submit
            button(data-dismiss="modal")#cancel.btn Cancel
            div.alert.alert-error.hide
            button(data-dismiss="alert").close
    div.modal-footer